<template>
  <div>
    <b-table
    stripped
    hover
    :fields="tableData"

    ></b-table>

  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData : [
        {key: "nama", name: 'Nama Provider', sortable: true},
        {key: "gambar", name: 'Gambar Provider', sortable: true},
      ]

    }
  },
  mounted: function() {},
  computed: {},
  methods: {}
};
</script>

<style>
</style>
