<template>
  <div>
    <h1 class="text-center mb-3">DATA KELUARAN PER PROVIDER</h1>
    <div class="row justify-content-center">
      <div v-for="(item, index) in listProvider" :key="index" class="col-sm-3">
        <b-card
          :img-src="srcImage(item.gambar)"
          img-alt="Card image"
          img-height="200"
          class="lazy"
          img-top
        >
          <b-card-title class="text-center">
            <strong>{{ item.nama }}</strong>
          </b-card-title>
          <b-card-text></b-card-text>
          <b-button variant="primary btn-block" @click="gotoKeluaran(item.id)">DETAIL</b-button>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from "axios";

export default {
  data() {
    return {
      listProvider: null
    };
  },
  mounted: function() {
    var vm = this;
    // this._getListProvider();
    Axios.get("/api/provider/list")
      .then(function(response) {
        if (response.status == 200) {
          vm.listProvider = response.data;
        }
      })
      .catch(function(error) {});
  },
  computed: {},
  methods: {
    gotoKeluaran(id) {
      var vm = this;
      this.$router.push({ name: "keluaranByProvider", params: { id: id } });
    },
    srcImage(e) {
      if (e == null) {
        return "https://picsum.photos/600/300/?image=25";
      } else {
        if (e.includes("http")) {
          return e;
        } else {
          return "https://picsum.photos/600/300/?image=25";
        }
      }
    }
  }
};
</script>

<style>
</style>
