<template>
  <div>
    <div class="clearfix"></div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <b-overlay :show="submitClicked" rounded="sm">
          <b-alert show variant="danger" v-if="error !== null">{{ error }}</b-alert>
          <b-alert show variant="success" v-if="success !== null">{{ success }}</b-alert>
          <b-form @submit="onSubmit">
            <b-form-group
              label="Pilih Tanggal Keluaran"
              label-for="nama"
              description="Bisa pilih tanggal yang sudah lewat, tetapi jika data sudah ada maka data terbaru tidak diinput"
            >
              <b-form-datepicker
                id="tanggal"
                v-model="form.tanggal"
                class="mb-2 d-flex"
                calendar-width="300px"
                dropup
                locale="id"
              ></b-form-datepicker>
            </b-form-group>
            <b-form-group
              label="Masukkan Nomor Keluaran"
              label-for="nama"
              description="Masukkan nomor keluaran sesuai dengan data kelauran yang didapat dari sumber"
            >
              <b-form-input
                type="number"
                size="lg"
                :formatter="formatKeluaran"
                v-model="form.keluaran"
                :state="keluaranValidator"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="Nomor Periode"
              label-for="periode"
              description="Periode harus diinput manual untuk data pertama yang diinput"
            >
              <b-form-input type="number" v-model="form.periode"></b-form-input>
            </b-form-group>

            <b-form-group>
              <b-button
                block
                variant="primary mt-3"
                type="submit"
                :disabled="isFormReady"
              >Update Keluaran</b-button>
            </b-form-group>
            <hr />
            <b-form-group>
              <b-button block variant="danger" @click="deleteKeluaran">Hapus Keluaran</b-button>
            </b-form-group>
          </b-form>

          <template v-slot:overlay>
            <plane class="text-center"></plane>
          </template>
        </b-overlay>
      </div>
    </div>
  </div>
</template>

<script>
import { Plane } from "vue-loading-spinner";
import Axios from "axios";
export default {
  components: {
    Plane
  },
  data() {
    const now = new Date();
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    // 15th two months prior
    const minDate = new Date(today);
    minDate.setMonth(minDate.getMonth() - 2);
    minDate.setDate(15);
    // 15th in two months
    const maxDate = new Date(today);
    maxDate.setMonth(maxDate.getMonth() + 2);
    maxDate.setDate(15);
    return {
      error: null,
      success: null,
      loading: false,
      min: minDate,
      max: maxDate,
      submitClicked: false,
      oldForm: {},
      form: {
        periode: '',
        hari: "",
        provider: this.$route.params.id,
        kode: this.$route.params.kode,
        tanggal: this.currentDate(),
        keluaran: ""
      }
    };
  },
  computed: {
    keluaranValidator() {
      return this.form.keluaran.length < 1 ? false : true;
    },
    isFormReady() {
      return this.form.keluaran.length < 1 ? true : false;
    }
  },
  mounted: function() {
    var vm = this;
    vm.submitClicked = true;
    Axios.get("/api/keluaran/details/" + this.$route.params.id)
      .then(function(response) {
        if (response.data.success == true) {
          vm.form = response.data.details;
          vm.oldForm = response.data.details;
          vm.submitClicked = false;
        } else {
          vm.$router.go(-1);
        }
      })
      .catch(function(error) {});
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();
      var vm = this;
      this.submitClicked = true;
      this.form.hari = this.formatHari(this.form.tanggal);

      Axios.post("/api/keluaran/update", this.form)
        .then(function(response) {
          if (response.status == 200) {
            if (response.data.success === false) {
              vm.error = response.data.msg;
              vm.form = vm.oldForm;
              // console.log(vm.oldForm);
              vm.submitClicked = false;
            } else {
              vm.error = null;
              vm.form = response.data.details;
              vm.success = response.data.msg;
              vm.submitClicked = false;
              // vm.$router.go(-1);
            }
          }
        })
        .catch(function(error) {
          if (error.status == 405) {
            alert("udah ada");
          }
        });
    },
    onReset() {},
    currentDate() {
      const now = new Date();
      var todayx =
        now.getFullYear() +
        "-" +
        ("0" + (now.getMonth() + 1)).slice(-2) +
        "-" +
        now.getDate();

      return todayx;
    },
    formatKeluaran(e) {
      return String(e).substring(0, 4);
    },
    formatForm(e) {
      // console.log(e);
    },
    formatPeriode() {},
    formatHari(tanggal) {
      var days = [
        "Minggu",
        "Senin",
        "Selasa",
        "Rabu",
        "Kamis",
        "Jum'at",
        "Sabtu"
      ];
      var bulan = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember"
      ];
      var d = new Date(tanggal);
      return days[d.getDay()];
    },
    deleteKeluaran() {
      var vm = this;
      Axios.delete("/api/keluaran/delete", {
        data: { id: this.$route.params.id }
      })
        .then(function(response) {
          vm.$router.go(-1);
        })
        .then(function(error) {});
    }
  }
};
</script>

<style>
.ui-datepicker {
  margin-left: -10em;
}
</style>
