<template>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-3">Tambah Provider</h1>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group
          label="Nama Provider Togel"
          label-for="nama"
          description="Nama provider seperti : Jakarta, Singapore, Hongkong, DLL"
        >
          <b-form-input id="nama" type="text" required placeholder="Jakarta" v-model="form.nama"></b-form-input>
        </b-form-group>
        <b-form-group
          label="Kode Provider Togel"
          label-for="nama"
          description="Kode Provider, contoh: Hongkong -> HK, Indonesia -> ID"
        >
          <b-form-input
            id="kode"
            type="text"
            required
            placeholder="Hongkong -> HK, Indonesia -> ID"
            v-model="form.kode"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Url / Link Gambar untuk featured image provider"
          label-for="gambar"
          description="Diisi dengan menggunakan URL / LINK ke Blogspot (recommended) / atau boleh dikosongkan"
        >
          <b-form-input
            id="gambar"
            type="text"
            v-model="form.gambar"
            placeholder="https://4.bp.blogspot.com/-ciB_IX3GQXo/XjAaKspDXYI/AAAAAAAAJWo/mc4PjG3vYEUX6Iak56nMT5-1VnPWjqNLACK4BGAYYCw/s400/Logo-New.png"
          ></b-form-input>
        </b-form-group>

        <el-tiptap v-model="form.keterangan" :extensions="extensions" />
        <b-form-group>
          <b-button block variant="primary mt-3" type="submit">Tambah Provider</b-button>
        </b-form-group>
      </b-form>
    </div>
  </div>
</template>

<script>
import {
  // necessary extensions
  Doc,
  Text,
  Paragraph,
  Heading,
  Bold,
  Underline,
  Italic,
  Strike,
  ListItem,
  BulletList,
  OrderedList,
  Image,
  Preview,
  TextAlign,
  TextColor
} from "element-tiptap";
import axios from "axios";

export default {
  data() {
    return {
      kontent: "",
      form: {
        kode: "",
        nama: "",
        gambar: "",
        keterangan: ""
      },
      show: true,
      // titap
      extensions: [
        new Doc(),
        new Text(),
        new Paragraph(),
        new Heading({ level: 5 }),
        new Bold({ bubble: true }), // render command-button in bubble menu.
        new Underline(),
        new Italic(),
        new Strike(),
        new ListItem(),
        new BulletList(),
        new OrderedList(),
        new Image(),
        new Preview(),
        new TextAlign(),
        new TextColor()
      ]
    };
  },
  computed: {},
  methods: {
    onSubmit: function(e) {
      e.preventDefault();
      var vm = this;
      axios.post("/api/provider/add", this.form).then(function(response) {
        if (response.status == 200) {
          vm.$router.push({
            name: "providerList"
          });
        } else if (response.status == 401) {
        }
        console.log(response);
      });
    },
    onReset(e) {
      e.preventDefault();
      console.log("reset clicked");
    }
  }
};
</script>

<style>
</style>
