<template>
  <div>
    <h1>Data Provider</h1>
    <b-button class="btn btn-block btn-sm btn-info mt-3 text-white" to="/provider-add">TAMBAH BARU</b-button>

    <b-input-group class="mt-3 mb-3" size="sm">
      <b-form-input v-model="keyword" placeholder="Search" type="text"></b-form-input>
      <b-btn class="p-0" :disabled="!keyword" variant="link" size="sm" @click="(keyword = '')"></b-btn>
    </b-input-group>

    <table class="table table-striped table-hover" v-if="tableItems !== null">
      <thead>
        <tr>
          <th scope="col">Nama Provider</th>
          <th scope="col">Kode</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <draggable v-model="tableItems" tag="tbody" @change="changePosition" :options="{delay:100}">
        <tr v-for="(item, index) in filteredTable" :key="index" @click="editProvider(item)">
          <td>{{ item.nama }}</td>
          <td>{{ item.kode }}</td>
          <td>{{ index +1 }}</td>
        </tr>
      </draggable>
    </table>

    <!-- <b-table
      v-if="tableItems !== null "
      stripped
      hover
      :fields="tableData"
      :items="tableItems"
      @row-clicked="editProvider"
    >
      <template v-slot:cell(gambar)="row">
        <b-img v-if="row.value.includes('http:')" :src="row.value"></b-img>
      </template>
    </b-table>-->
  </div>
</template>

<script>
import draggable from "vuedraggable";
import axios from "axios";
export default {
  components: {
    draggable
  },
  data() {
    return {
      keyword: "",
      tableItems: null,
      tableData: [
        {
          key: "nama",
          name: "Nama Provider",
          label: "Nama Provider",
          sortable: true,
          thClass: "text-left"
        },
        {
          key: "kode",
          name: "kodeProvider",
          label: "Kode Provider",
          sortable: true,
          thClass: "text-center",
          tdClass: "text-center"
        }
      ]
    };
  },
  computed: {
    filteredTable() {
      return this.keyword
        ? this.tableItems.filter(
            item =>
              item.nama.toLowerCase().includes(this.keyword.toLowerCase()) ||
              item.kode.toLowerCase().includes(this.keyword.toLowerCase())
          )
        : this.tableItems;
    }
  },
  mounted: function() {
    var vm = this;
    axios.get("/api/provider/list").then(function(response) {
      if (response.status == 200) {
        vm.tableItems = response.data;
      } else {
      }
    });
  },
  methods: {
    changePosition(e) {
      var newPosition = [];
      for (const [key, value] of Object.entries(this.tableItems)) {
        newPosition.push(value.id);
      }
      axios
        .post("/api/provider/order", { data: newPosition })
        .then(function(success) {
          if (success.data.success == true) {
            console.log("Provider order updated");
          }
          // console.log(success.data);
        })
        .catch(function(error) {});
      // console.table(newPosition)
      // console.log(this.tableItems)
    },
    editProvider(e) {
      this.$router.push({
        name: "providerEdit",
        params: { id: e.id }
      });
    },
    assignAction() {
      // console.log();
      // return "hahahaha";
    }
  }
};
</script>

<style>
</style>
